<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de estoque</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Montserrat:wght@700&family=Roboto+Condensed:wght@700&family=Barlow+Semi+Condensed:wght@600&display=swap" rel="stylesheet">
    </head>
<!-- se tiver mensagem no backend exibe -->
    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
        <div class="flash_alerta" color="black">
            {{menssagem[0]}}
        </div>
    {% endif %}
    <body id="loginBody">

        <div class="titulo">
            <h1>SIG</h1>
            <h2>Sistema de Gerenciamento de Estoque</h2>
        </div>   

        <div class="container">
            
            
            <div class="login">
                <form action="/login" id="login" method="post">
                    <div>
                        <label for="nome">Usuario:</label>
                        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome"/>
                    </div>
                    <div> 
                        <label for="senha" id="senha">Senha:</label>
                        <input type="password" name="senha" id="senha" required placeholder="Digite sua senha"/>
                    </div>
                    <div>
                        <button type="submit" id="btn_login">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
</html> 